
@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
  }
}

.search-container {
  display: flex;
  align-items: center;
}

.search-icon {
  cursor: pointer;
  font-size: 20px;
  margin-right: 5px;
}

.search-input {
  display: flex;
  align-items: center;
  position: relative;
}

.search-close-btn {
  position: absolute;
  right: 10px;
}

.search-input input {
  display: block;
  background-color: rgba(250,249,246,100%);
    color: #53535B;
    border: 1px solid #d7d9e3;
    max-width: 260px;
    padding: 9px 40px 9px 15px;
}

.search-input button {
  cursor: pointer;
  margin-left: 5px;
  border: none;
  background: transparent;
  font-size: 16px;
  color: #333;
}

